@import '../../../assets/scss/variables';

.by-login {
	form {
		background-color: $white;
		border-bottom: 1px solid darken($neutral-6, 2);
		border-radius: 8px;
		margin: 0 auto;
		max-width: 400px;
		padding: 30px;

		h1 {
			color: $neutral-10;
			font-weight: $font-weight-bold;
			margin: 10px 0 45px;
			text-align: center;
		}

		.by-input {
			color: #384047;
			background-color: darken($neutral-4, 1);
			box-shadow: 0 1px 0 $neutral-11 inset;
			border: none;
			border-radius: 4px;
			height: 55px;
			padding: 10px 15px;
			margin-bottom: 1.2em;
			width: 100%;

			&:focus {
				outline: none;
			}
		}

		.by-button {
			background-color: darken($teal, 10);
			box-shadow: 0 2px 6px $neutral-6;
			border: none;
			border-radius: 4px;
			color: $white;
			font-size: 19px;
			font-weight: 600;
			text-align: center;
			padding: 15px 10px;
			margin-top: 15px;
			width: 100%;

			&:focus,
			&:active {
				box-shadow: none !important;
				outline: 0;
			}
		}
	}

	&.by-modal {
		padding: 10px;

		form {
			max-width: 100%;
			padding: 0;
		}
	}
}
